/* Preloader
--------------------------------------------------------------------------*/
#LoadingOverlay img {animation: pulse 1.5s cubic-bezier(0.63, 0.03, 0.24, 0.82) infinite}
@keyframes pulse {
	0%, 100%{opacity: 0.5; transform: scale(1)}
	50%{opacity: 1; transform: scale(1.1)}
}


/* Scroll Micro-interaction
--------------------------------------------------------------------------*/
.scroll{opacity: 0; transition: 1s; color: var(--light-text-color); position: fixed; bottom: 3%; left: 50%; transform: translateX(-50%); display: flex; flex-direction: column; align-items: center; z-index: 1000 }
.scroll--visible{opacity: 1}
.scroll__pointer{width: 10px; height: 10px; border-radius: 50%; background-color: var(--light-text-color); animation: scroll_animation 2s cubic-bezier(0.63, 0.03, 0.24, 0.82) infinite}
.scroll p{font-size: 18px; font-weight: 600; animation: scroll_text_animation 2s cubic-bezier(0.63, 0.03, 0.24, 0.82) infinite; letter-spacing: 5px;}

@keyframes scroll_animation {
	0% {transform: translateY(0) scale(0); opacity: 0}
	20% {transform: translateY(-20px) scale(1);opacity: 1}
	100% {transform: translateY(20px) scale(0.5); }
}

@keyframes scroll_text_animation {
	0%, 100% {opacity: 0}
	50% {opacity: 1}
}

@media screen and (max-width: 426px) {
	.scroll p{display: none}
}

/* Hide scroll in specifics section
--------------------------------------------------------------------------*/
#servizi-fiamma, #contatti { position: relative; z-index: 1010;}
#formazione{position: relative; z-index: 1011;}
#rete{background-color: white; position: relative; z-index: 1011; height: fit-content;}
.vantaggi-bg{border: 1px solid red; position: relative; z-index: 1050; background: transparent;}


/* Hide bar in contact form
--------------------------------------------------------------------------*/
.cf-progressBar {display: none !important;}


/* Navbar
--------------------------------------------------------------------------*/
.navbar{transition: 0.5s cubic-bezier(0.63, 0.03, 0.24, 0.82); transform: translateX(-100%); position: fixed; top: 0; left: 0; background: black; color: white; z-index: 2000; width: 100vw; height:100vh; overflow: hidden; letter-spacing: 3px;}
.navbar--visible{transform: translateX(0); }
.navbar--visible .navigation ul li {opacity: 1;}

.navigation {font-family: 'Kanit', sans-serif; display: flex; justify-content: center; align-items: center; height: 100%; overflow: hidden;}
.navigation ul {position: relative;}
.navigation ul li {	border: 1px solid red; text-align: center;	list-style: none; opacity: 0; transition: 0.5s cubic-bezier(0.63, 0.03, 0.24, 0.82);}
.navigation ul li a {color: white; border: 1px solid red; width: 100%; text-align: center !important; text-decoration: none; font-size: 3em; padding: 30px; display: inline-block; font-weight: 700; transition: 0.5s;}
.navigation ul:hover li a {color: #0002;}
.navigation ul li:hover a {color: #000;background: #fff;}
.navigation ul li a:before {
	content:'';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	color: rgba(0, 0, 0, 0.1);
	z-index: -1;
	opacity: 0;
	font-weight: 700;
	letter-spacing: 500px;
	transition: letter-spacing 0.5s, left 0.5s;
	width: 100vw;
	height: 100vh;
}

.navigation ul li a:hover:before{content: attr(data-text);opacity: 1;letter-spacing: 10px;}

.navigation ul li:nth-child(1) a:before {background: var(--arancio-chiaro);}
.navigation ul li:nth-child(2) a:before {background: var(--arancio)}
.navigation ul li:nth-child(3) a:before {background: var(--peach);}
.navigation ul li:nth-child(4) a:before {background: var(--blu-chiaro)}
.navigation ul li:nth-child(5) a:before {background: var(--blu-scuro)}

.navbar--visible .navigation ul li:nth-child(1) {transition-delay: 0.3s;}
.navbar--visible .navigation ul li:nth-child(2) {transition-delay: 0.4s;}
.navbar--visible .navigation ul li:nth-child(3) {transition-delay: 0.5s;}
.navbar--visible .navigation ul li:nth-child(4) {transition-delay: 0.6s;}
.navbar--visible .navigation ul li:nth-child(5) {transition-delay: 0.7s;}


/* Logo
--------------------------------------------------------------------------*/

.logo{ mix-blend-mode: difference; width: 60px;border: 1px solid red; opacity: 1; transform: translateY(0) rotate(0); position: fixed;  bottom: 25px; right: 25px;  height: fit-content; z-index: 3000; cursor: pointer; transition: 0.5s cubic-bezier(0.63, 0.03, 0.24, 0.82); background: inherit}

.logo--animate{transform: translateY(0) rotate(360deg);  }
.logo--hidden{ opacity: 0; transform: translateY(200%) rotate(0); visibility: hidden }

@media screen and (min-width: 426px) {
	.logo{ width: 100px; top: 50px; left: 50px;}
}

#introHome{background: white;}
.pin-spacer{background: white;}

/* Digital College
--------------------------------------------------------------------------*/
#formazione{background-size: contain;	background: url("../assets/img/bg_digital_college.jpg") no-repeat top; padding-top: 800px;}

@media screen and (max-width: 768px) {
	#formazione{padding-top: 800px;}
}

@media screen and (max-width: 426px) {
	#formazione{background-size: cover; padding-top: 200px; padding-bottom: 0;}
	#formazione .wrapper{padding-bottom: 0;}
}

/* Video scroller
--------------------------------------------------------------------------*/










/* Fix
--------------------------------------------------------------------------*/
html, body {overflow-x: hidden;}
ul{list-style-type: none; margin: 0; padding: 0; }
img{width:100%; height: auto;}

